<%- include("partials/header")  -%>

<div class="container-fluid home-container text-center">
  <h1>Secure Authentication Demonstrated by</h1>
  <p><i class="fa-sharp fa-solid fa-circle-check"></i> Node.js</p>
  <p><i class="fa-sharp fa-solid fa-circle-check"></i> Express Module</p>
  <p><i class="fa-sharp fa-solid fa-circle-check"></i> Mongoose Module</p>
  <p><i class="fa-sharp fa-solid fa-circle-check"></i> Ejs Module</p>
  <p><i class="fa-sharp fa-solid fa-circle-check"></i> Passport Module</p>
  <a href="/signup" class="btn btn-dark btn-lg home-btn"><i class="fa-solid fa-user-plus"></i> SignUp</a>
  <a href="/login" class="btn btn-outline-dark btn-lg home-btn"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
</div>

<%- include("partials/footer")  -%>
