<%- include("partials/header") -%>

<div class="container-fluid sign-up">
  <%- include("partials/messages") -%>
  <div class="row">
    <div class="col-lg-6">
      <div class="text-center">
          <img class="permission-img" src="/images/permission.png" alt="permission-img">
      </div>
    </div>
    <div class="col-lg-6">
      <form  action="/login" method="post">
          <label class="form-label email"for="email">Email</label>
          <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
              <input id="email" class="form-control"type="email" name="email" value="" required>
          </div>

          <label class="form-label"for="password">Password</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <input id="password" class="form-control" type="password" name="password" value="" required>
          </div>

          <div class="d-grid gap-2">
          <button class="btn btn-lg btn-dark btn-signup" type="submit" name="submit">Login</button>
          </div>
          <div class="d-grid gap-2">
            <a class="google"href="/auth/google" onclick="changeColor()">
              <div class="google-div">
                  <img class="google-img"src="/images/google.png" alt="google-img">
              </div>
              <div class="google-text">
                Sign in with Google
              </div>
            </a>
          </div>
          <p class="paragraph-link">Don't have an account yet? <a class="link" href="/signup">Join Now !</a></p>
      </form>
    </div>
  </div>
</div>

<script>
  function changeColor(){
    document.querySelector(".google").style.backgroundColor="#0F52BA"
  }
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>

<%- include("partials/footer") -%>
