<%- include("partials/header") -%>

<div class="container-fluid secure text-center">
  <img class="img-rounded" src="/images/rm.png" alt="moses-img" />
  <h1 class="secure-heading">In this Application I have demonstarted</h1>
  <p class="secure-paragraph">
    <i class="fa-sharp fa-solid fa-circle-check secure-icon"></i> HTML, CSS and
    Bootstrap technologies
  </p>
  <p class="secure-paragraph">
    <i class="fa-sharp fa-solid fa-circle-check secure-icon"></i> The power of
    secure login process using various node modules like Noje.js and passport
    while also implementing Cookies and sessions for authentication.
  </p>
  <p class="secure-paragraph">
    <i class="fa-sharp fa-solid fa-circle-check secure-icon"></i> Secure salting
    and hashing of users password to preserve the security of the users of my
    application using passport and mongoose modules.
  </p>
  <p class="secure-paragraph">
    <i class="fa-sharp fa-solid fa-circle-check secure-icon"></i> Secure Third
    party Oauth using passport-google-oauth20 module to make it easier for the
    users to signup and login to the application.
  </p>
  <a
    class="btn btn-lg btn-dark"
    href="https://github.com/mosesblair12345/passport"
    target="_blank"
    ><i class="fa-brands fa-github"></i> The link to the github repository</a
  >

  <a class="btn btn-lg btn-dark secure-btn" href="/logout"
    ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
  >
</div>

<%- include("partials/footer") -%>
